@page {
  size: A4 portrait;
  margin: 20mm 15mm 20mm 15mm;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  color: darkblue;
  margin: 10;
}
h3 {
  margin: 0;
}

h4 {
  color: darkblue;
  margin-bottom: 10px;
}

p {
  font-size: medium;
  margin-top: 0;
  margin-bottom: 10px;
}
/* 
.content {
  width: 100%;
  padding: 20mm;
  box-sizing: border-box;
  background-color: lightblue;
  border: 1px solid red;
  margin: 20px ;
} */

.a4-page {
  width: 210mm;
  height: 297mm;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  page-break-after: always;
  background-color: lightblue;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.photo {
  align-self: center;
}

img {
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  width: 150px;
  height: auto;
}

.name-and-title {
  width: auto;
  flex-direction: column;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.contact-info {
  width: auto;
  border-radius: 10px;
  flex-direction: column;
  background: linear-gradient(340deg, lightgrey, transparent);
  box-shadow: 5px 5px 5px lightgrey;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile,
.emplioyments,
.educations {
  margin-top: 0;
  margin-bottom: 5px;
}

.employer {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.date {
  font-style: italic;
  color: dimgray;
  margin-top: 0;
  margin-bottom: 5px;
}

.left-top {
  width: 80%;
  float: left;
}

.right-top {
  width: 15%;
  float: right;
}

.left-bottom {
  width: 80%;
  float: left;
}
.right-bottom {
  width: 15%;
  float: right;
}

footer {
  clear: both;
  margin-bottom:10px;
  text-align: center;
  font-size: small;
  color: red;
}
