@page {
  size: A4 portrait;
}

@media print {
  @page {
    size: A4 portrait;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 20mm 15mm 20mm 15mm;
}

h1 {
  font-size: x-large;
  margin: 0;
}

h2 {
  color: darkblue;
  margin: 10;
}
h3 {
  margin: 0;
}

h4 {
  color: darkblue;
  margin-bottom: 10px;
}

p {
  font-size: medium;
  margin-top: 0;
  margin-bottom: 10px;
}

.a4-page {
  width: 210mm;
  height: 297mm;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: 10px;
  page-break-after: always;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.photo {
  align-self: center;
}

img {
  border-radius: 10px;
  /* box-shadow: 5px 5px 5px grey; */
  width: 150px;
  height: 150px;
}

.name-and-title {
  width: auto;
  flex-direction: column;
  text-align: center;
  /* margin-left: 5%; */
  /* margin-right: 5%; */
}
.contact-info {
  width: auto;
  border-radius: 10px;
  flex-direction: column;
  background: linear-gradient(340deg, lightgrey, transparent);
  /* box-shadow: 5px 5px 5px lightgrey; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile,
.emplioyments,
.educations {
  margin-top: 0;
  margin-bottom: 5px;
}

.employer {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.date {
  font-style: italic;
  color: dimgray;
  margin-top: 0;
  margin-bottom: 5px;
}

.left-top {
  width: 70%;
  float: left;
  margin-bottom: 100mm;
}

.right-top,
.right-bottom {
  width: 25%;
  float: right;
  border-radius: 10px;
  background: linear-gradient(300deg, lightgrey, transparent);
}
.list-header {
  text-align: center;
}
.skills-list,
.abilities-list {
  list-style: circle;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

.left-bottom {
  width: 70%;
  float: left;
  margin-bottom: 15mm;
}

footer {
  clear: both;
  margin-bottom: 10px;
  text-align: center;
  font-size: small;
  color: grey;
}
